* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    width: 100%;
    height: 100%;
}

body {
    background-color: white;
    width: 100%;
    height: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.hidden {
    display: none !important;
}


#days-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
    padding: 20px;
    gap: 20px;
}

.day {
    --lighter: white;
    --darker: whitesmoke;
    --header: #a8a8a8;
    /* --lighter: #2b67c9;
    --darker: #1057c8;
    --header: #0a3478; */
    /* --lighter: #ff6634;
    --darker: #e85130;
    --header: #b24724; */

    flex: 1;
    height: 100%;
    border-radius: 20px;
    border: 2px solid var(--darker);

    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.header {
    background-color: var(--header);
    font-weight: 600;
    font-size: 20px;
    color: white;
    padding: 15px 50px;
    margin: 0 auto;
    margin-top: 20px;
    border-radius: 50px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    min-width: 0;
}


.loading {
    width: 90%;
    max-width: 250px;
    max-height: 100%;
    margin: 0 auto;
    height: 50%;
    flex: 1;
}


.day-wrapper {
    display: flex;
    font-size: 24px;
    flex-flow: column nowrap;
    color: white;
    height: 100%;
    justify-content: center;
    flex: 1;
}

.day-wrapper hr {
    background-color: white;
    height: 1px;
    border: none;
}

.day-date  {
    font-weight: 600;
    text-align: center;
}
.day-date .digits {
    font-size: 36px;
}

.day-type {
    text-align: center;
}

.day {
    background: linear-gradient(
        180deg,
        transparent 0%,
        transparent 75%,
        var(--header) 100%
    ), linear-gradient(
        135deg,
        var(--lighter) 0%,
        var(--lighter) 5%,
        var(--darker) 5%,
        var(--darker) 10%,
        var(--lighter) 10%,
        var(--lighter) 15%,
        var(--darker) 15%,
        var(--darker) 20%,
        var(--lighter) 20%,
        var(--lighter) 25%,
        var(--darker) 25%,
        var(--darker) 30%,
        var(--lighter) 30%,
        var(--lighter) 35%,
        var(--darker) 35%,
        var(--darker) 40%,
        var(--lighter) 40%,
        var(--lighter) 45%,
        var(--darker) 45%,
        var(--darker) 50%,
        var(--lighter) 50%,
        var(--lighter) 55%,
        var(--darker) 55%,
        var(--darker) 60%,
        var(--lighter) 60%,
        var(--lighter) 65%,
        var(--darker) 65%,
        var(--darker) 70%,
        var(--lighter) 70%,
        var(--lighter) 75%,
        var(--darker) 75%,
        var(--darker) 80%,
        var(--lighter) 80%,
        var(--lighter) 85%,
        var(--darker) 85%,
        var(--darker) 90%,
        var(--lighter) 90%,
        var(--lighter) 95%,
        var(--darker) 95%,
        var(--darker) 100%
    );
}
